<!-- Main content -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Category List</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Category</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"></h3>
              <div style="float: right;"><a href="<%= new_admin_catagory_path %>">Add New</a></div>
            </div>
            <div class="card-body">
              <table id="catagorys_data" class="table table-bordered table-hover data_table">
                <thead>
                  <tr>
                    <th>#ID</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Create Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                <% @catagories.each do |data| %>
                  <tr>
                    <td><%= data.id %></td>
                    <td><%= data.title %></td>
                    <td width="20%"><%= strip_html_tags(data.slug) %></td>
                    <td><%= data.created_at.strftime("%Y-%m-%d") %></td>
                    <td>
                      <%= render template: "admin/action/action", locals: {action_data: data} %>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>  
            </div>
          </div>
        </div>
      </div>
    </section>
</div>        