<div class="form-group">
  <label>Parent</label>
  <% if(@user_menu) %>
    <%= select_tag 'user_menu[parentMenu]', options_from_collection_for_select(@menuAll, 'id', 'menuName', @user_menu.parentMenu),prompt: "Select One",:class => 'form-control select2' %>
  <%else%>
    <%= select_tag 'user_menu[parentMenu]', content_tag(:option,'Select One...',:value=>"")+options_from_collection_for_select(@menuAll, 'id', 'menuName', ''),:class => 'form-control select2' %>
  <%end%>  
</div>
<div class="form-group">
  <label> Menu Name </label>
  <%= text_field 'user_menu','menuName', :class => 'form-control' %>
</div>
<div class="form-group">
  <label>  Menu Link  </label>
  <%= text_field 'user_menu','menuLink', :class => 'form-control' %>
</div>
<div class="form-group">
  <label> Menu Icon </label>
  <%= text_field 'user_menu','menuIcon', :class => 'form-control' %>
</div>
<div class="form-group">
  <label>  Order By  </label>
  <% if(@order_count) %>
    <%= text_field 'user_menu','orderBy', :class => 'form-control',:value=>@order_count %>
  <%else%>
    <%= text_field 'user_menu','orderBy', :class => 'form-control' %>
  <%end%>
  
</div>