<div class="form-group row">
  <div class="col-md-6">
    <label> Menu Type </label>
    <% 
      @menuAll = [
        'Show','New','Edit','Published','Unpublished','Destroy/Delete','View','Pdf','Permission','Change Password'
      ]
    %>
    <select class="form-control" name="user_menu[menuType]">
      <option value="">Select One</option>
      <% @menuAll.each.with_index(1) do |data, index| %>
        <option value="<%= index %>"><%= data %></option>
      <%end%>
    </select>
  </div>
  <div class="col-md-6">
    <label>  Menu Name  </label>
    <% if(@id) %>
      <input type="hidden" value="<%= @id %>" name="user_menu[user_menu_id]">
    <%else%>
      <input type="hidden" value="<%= user_menu['user_menu_id'] %>" name="user_menu[user_menu_id]">
    <%end%>
    <%= text_field 'user_menu','actionName', :class => 'form-control',:placeholder=>'Menu Name' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-6">
    <label> Menu Link </label>
    <%= text_field 'user_menu','actionLink', :class => 'form-control', :placeholder=>'Menu Link' %>
  </div>
  <div class="col-md-4">
    <label> Order By </label>
    <% if(@count_usr_order) %>
      <%= text_field 'user_menu','orderBy', :class => 'form-control', :placeholder=>'Order By', :value=>@count_usr_order %>
    <%else%>
      <%= text_field 'user_menu','orderBy', :class => 'form-control', :placeholder=>'Order By'%>
    <%end%>
  </div>
  <div class="col-md-2">
    <label> Status </label><br>
    <input type="radio" value="1" name="user_menu[actionStatus]" checked> Published
    <input type="radio" value="0" name="user_menu[actionStatus]"> Unpublished
  </div>
</div>