<!-- Main content -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>USER PERMISSION</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">permission</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title pull-left">USER PERMISSION</h3>
            </div>
            <div class="card-body">
              <% if flash[:errors] %>
                <% flash[:errors].each do |error| %>
                  <p style="color: red"><%= error %></p>
                <%end%>
              <%end%>
              <div class="row">
                <div class="col-md-10">
                    <input type="checkbox" class="select_all" name="select_all"> Select All                                        
                </div>
              </div>
              <hr>
              <div class="row">
                <% @user_menu.each do |menu| %>
                <%
                  if(@user_roles.permission !=nil)
                    @m = @user_roles.permission.split(',')
                    if(menu.id.include?@m)
                      checked = "checked";
                    end
                  else
                    checked = "";
                  end
                %>
                <div class="col-md-2" style="margin-bottom: 12px;">
                  <input class="parentMenu_<%= menu.id %> menu" type="checkbox" name="usermenu[]" value="<%= menu.id %>"  <%= checked %> data-id="<%= menu.id %>">
                  <span><%= menu.menuName %></span>
                  <div style="margin-left: 18px;margin-top: 3px;">
                    <% getUserAction(menu.id).each do |action| %>
                      <input class="childMenu_<%= action.user_menu_id %>" type="checkbox" name="usermenuAction[]" value="<%= action.id %>" style="margin-bottom: 8px;"><span style="padding-left:10px;"><%= action.actionName %></span> <br>
                    <%end%>
                  </div>
                </div>
                <%end%>
            </div>
            <div class="row">
                <div class="col-md-12 m-b-20 text-right">
                    <button type="submit" class="btn btn-outline-info waves-effect">Update</button>                        
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
