<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/dashboard" class="brand-link">
      <img src="/images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= current_user.email %></a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <%# <%= debug(setclass) if Rails.env.development? %>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <%
              
              if(getUserRole() !=nil)
                getRole = getUserRole()
                getMenus = getMenusAll()
                getMenus.each do |menu|
                menuCheck = rolesDynamicChecked(getRole, menu.id);
                if(menuCheck)
                  submenu = getSubMenusAll(menu.id) 
            %>
              <% if(submenu.count() == 0) %>
                <li class="nav-item">
                  <a href="/admin/<%= menu.menuLink %>" class="nav-link">
                    <i class="nav-icon <%= menu.menuIcon %>"></i>
                    <p><%= menu.menuName %></p>
                  </a>
                </li>
                <%else%>
                  <%
                    if(controller.controller_name == menu.menuName)
                      setclass='menu-open'
                    else
                      setclass = ''
                    end  
                  %>
                  <li class="nav-item has-treeview <%= setclass %>">
                    <a href="#" class="nav-link">
                      <i class="nav-icon <%= menu.menuIcon %>"></i>
                      <p><%= menu.menuName %><i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                      <% submenu.each do |submenu| %>
                      <li class="nav-item">
                        <a href="/admin/<%= submenu.menuLink %>" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p><%= submenu.menuName %></p>
                        </a>
                      </li>
                      <%end%>
                    </ul>
                  </li>
                <%end%>
              <%end%>  
            <%end%>
          <%end%>
          <li class="nav-item nav-logout">
            <i class="fas fa-sign-out-alt nav-icon"></i>
            <%= button_to 'Sign out', sign_out_path, method: :delete, class: 'nav-link' %>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <style>
    .nav-logout{
      padding-left: 16px;
    }
    .nav-logout i{
      color: #fff;
    }
    .button_to{
      background: no-repeat;
      color: none;
      display: inline-block;
      padding: 0px;
      margin: 0px;
    }
    .nav-logout .nav-link{
      background: none;
      border: none;
      display: inline-block;
      padding: 0;
      color: #fff;
    }
  </style>