<!-- Main content -->
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>User Password Update</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><%= @user.email %></h3>
            </div>
            <div class="card-body">
              <% if flash[:danger] %>
                <p style="color: red"><%= danger %></p>
              <%end%>
              <%= form_tag :action => 'update_password' do %>
                <div class="form-group">
                  <label>Old Password</label>
                  <%= password_field 'user' ,'old_password', :class => 'form-control', placeholder:'password' %>
                </div>
                <div class="form-group">
                  <label>New Password</label>
                  <%= password_field 'user' ,'password', :class => 'form-control', placeholder:'password' %>
                </div>
                <%= submit_tag "Update", class: 'btn btn-block btn-secondary' %>
              <% end -%>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>